/*
This allows me to create the classes of techniques
without having to write out the text inside, or all the : and ;

@include tech-used (.photoshop,$blue,1px);
@include tech-used (.illustrator,$orange,1px);
@include tech-used (.git,$purple,1px);
*/
/* line 132, ../../build/sass/links.scss */
.hide {
  display: none;
}

/* line 135, ../../build/sass/links.scss */
a {
  color: #88ffeb;
  transition: background .2s ease, color 0.2s ease;
  transition: all .2s ease-in-out;
}
/* line 138, ../../build/sass/links.scss */
a:hover {
  text-decoration: none;
  color: #f7f7f7;
}

/* line 144, ../../build/sass/links.scss */
.divider {
  margin-bottom: -20px;
  background: #cca34b;
  height: 2px;
}

/* line 151, ../../build/sass/links.scss */
html, body {
  height: 100%;
  background: #f7f7f7;
}

/* line 156, ../../build/sass/links.scss */
.welcome {
  z-index: 2;
  overflow: hidden;
  position: absolute;
  margin-left: 5%;
  height: 100%;
  width: 100%;
}

/* line 165, ../../build/sass/links.scss */
.message {
  opacity: 0;
  margin-top: 25%;
}
/* line 168, ../../build/sass/links.scss */
.message h3 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  @font-face {
    font-family: "Karla";
    src: "/fonts/karla/karla-regular.ttf";
}

  font-weight: lighter;
  font-size: 48px;
  letter-spacing: 3.5px;
  color: #ececec;
}
/* line 176, ../../build/sass/links.scss */
.message p {
  @font-face {
    font-family: "Karla";
    src: "/fonts/karla/karla-regular.ttf";
}

  font-weight: lighter;
  font-size: 20px;
  letter-spacing: 3.5px;
  color: #ececec;
}

/* line 185, ../../build/sass/links.scss */
.content {
  height: 100%;
  background: #f7f7f7;
}
/* line 191, ../../build/sass/links.scss */
.content .upload h3 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  @font-face {
    font-family: "Karla";
    src: "/fonts/karla/karla-regular.ttf";
}

  font-weight: lighter;
  font-size: 48px;
  letter-spacing: 3.5px;
  color: #ececec;
  margin-top: -140px;
  margin-left: -160px;
}

/* line 204, ../../build/sass/links.scss */
.nav {
  display: block;
  z-index: 3;
  overflow: hidden;
  position: fixed;
  width: 100%;
  opacity: 0;
  margin-bottom: -20px;
  height: 100%;
  background: #88ffeb;
}
/* line 216, ../../build/sass/links.scss */
.nav h4 {
  opacity: 0;
  padding-top: 30px;
  font-weight: 300;
  color: #7febd8;
  margin-bottom: -30px;
}
/* line 222, ../../build/sass/links.scss */
.nav .nav-links {
  opacity: 0;
  float: left;
  margin-top: 145%;
  margin-left: 160px;
  list-style: none;
}
/* line 229, ../../build/sass/links.scss */
.nav .nav-links .current {
  transition: background .2s ease, color 0.2s ease;
  transition: all .2s ease-in-out;
  background: #f7f7f7;
  color: #ff9748;
}
/* line 230, ../../build/sass/links.scss */
.nav .nav-links .current a {
  background: #f7f7f7;
}
/* line 235, ../../build/sass/links.scss */
.nav .nav-links a {
  transition: background .2s ease, color 0.2s ease;
  transition: all .2s ease-in-out;
  display: block;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 77px;
  width: 120%;
  background: #7febd8;
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 2px;
}
/* line 247, ../../build/sass/links.scss */
.nav .nav-links a:hover {
  background: #76decc;
}
/* line 251, ../../build/sass/links.scss */
.nav .nav-links a:active, .nav .nav-links a:focus {
  text-decoration: none;
  background: #f7f7f7;
  color: #ff9748;
}
/* line 257, ../../build/sass/links.scss */
.nav .nav-links a:visited {
  text-decoration: none;
}

/* line 266, ../../build/sass/links.scss */
.scale-down {
  font-size: 2px;
}

/* line 273, ../../build/sass/links.scss */
h1 .vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 278, ../../build/sass/links.scss */
h1 {
  color: #666666;
}

/* line 284, ../../build/sass/links.scss */
.parts {
  opacity: 0;
  z-index: 1;
  height: 100%;
  height: 800px;
  margin-top: 80px;
  margin-left: 250px;
}
/* line 291, ../../build/sass/links.scss */
.parts ul {
  list-style: none;
}
/* line 294, ../../build/sass/links.scss */
.parts ul li a {
  display: block;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  font-size: 28px;
  letter-spacing: 3.5px;
  margin-right: 40px;
  margin-bottom: 40px;
  background: #76decc;
  padding-top: 90px;
  width: 220px;
  height: 220px;
}
/* line 306, ../../build/sass/links.scss */
.parts ul li a:hover {
  transform: scale(1.1);
  background: #ff9748;
}
/* line 310, ../../build/sass/links.scss */
.parts ul li a:active, .parts ul li a:focus {
  text-decoration: none;
  background: #ff9748;
  color: #f7f7f7;
}
/* line 315, ../../build/sass/links.scss */
.parts ul li a:visited {
  text-decoration: none;
}

/* line 328, ../../build/sass/links.scss */
.footer {
  display: none;
  height: 80px;
  background: #ececec;
  padding-top: 35px;
}
/* line 333, ../../build/sass/links.scss */
.footer a {
  transition: background .2s ease, color 0.2s ease;
  transition: all .2s ease-in-out;
}
/* line 335, ../../build/sass/links.scss */
.footer a:hover {
  color: #262626;
}
/* line 340, ../../build/sass/links.scss */
.footer .footer-links {
  margin-left: 30px;
}
