/* line 8, ../../build/sass/includes/_button.sass */
a {
  color: #262626;
}
/* line 10, ../../build/sass/includes/_button.sass */
a:hover {
  text-decoration: none;
  color: #666666;
  cursor: pointer;
}

/* line 16, ../../build/sass/includes/_button.sass */
.button-contact, .button-resume {
  transition: background 0.2s ease, color 0.2s ease;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  height: 30px;
  width: 100px;
  background: transparent;
  font-size: 14px;
  border: 1px solid #262626;
  color: #262626;
  margin-left: -3px;
  font-weight: 300;
  padding-top: 7px;
  cursor: pointer;
}
/* line 29, ../../build/sass/includes/_button.sass */
.button-contact:hover, .button-resume:hover {
  background: #262626;
  color: #F7F7F7;
}

/* line 36, ../../build/sass/includes/_button.sass */
.contact-style {
  font-weight: 300;
  letter-spacing: 2px;
}

/* line 41, ../../build/sass/includes/_button.sass */
.button-contact {
  width: 105px;
}

/* line 8, ../../build/sass/includes/_globals.sass */
.post-divider {
  padding-bottom: 40px;
  height: 2px;
}

/* line 8, ../../build/sass/includes/_header.sass */
.avatar {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: url(../images/av.jpeg) no-repeat center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 120% 90%;
  background: #F7F7F7;
  height: 180px;
  width: 180px;
  margin-top: 150px;
  overflow: hidden;
}

/* line 20, ../../build/sass/includes/_header.sass */
.header {
  background: #262626;
  background: url(../images/cover_train_over.jpg) no-repeat center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 560px;
}
/* line 25, ../../build/sass/includes/_header.sass */
.header .name {
  margin-top: 342px;
  color: #F7F7F7;
}
/* line 29, ../../build/sass/includes/_header.sass */
.header .name h1 {
  font-family: "DOCK11";
  font-size: 48px;
  font-weight: lighter;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

/* line 39, ../../build/sass/includes/_header.sass */
.sub-header {
  padding-top: 30px;
  height: 120px;
  background: #F7F7F7;
}
/* line 44, ../../build/sass/includes/_header.sass */
.sub-header .title {
  margin-top: 6px;
}

/* line 3, ../../build/sass/includes/_content.sass */
.content {
  background: #ECECEC;
  padding-bottom: 80px;
  padding-right: 80px;
}
/* line 8, ../../build/sass/includes/_content.sass */
.content .section {
  padding-top: 80px;
}
/* line 11, ../../build/sass/includes/_content.sass */
.content .thumbnail-post {
  height: 100%;
  width: "";
}
/* line 15, ../../build/sass/includes/_content.sass */
.content .thumbnail-post img {
  -moz-border-radius: 6px 0px 0px 6px / 6px 0px 0px 6px;
  -webkit-border-radius: 6px 6px;
  border-radius: 6px 0px 0px 6px / 6px 0px 0px 6px;
}
/* line 18, ../../build/sass/includes/_content.sass */
.content .side-column {
  -moz-border-radius: 0px 6px 6px 0px / 0px 6px 6px 0px;
  -webkit-border-radius: 0px 0px;
  border-radius: 0px 6px 6px 0px / 0px 6px 6px 0px;
  margin-left: 15px;
  background: #F7F7F7;
  width: "";
  height: 460px;
  padding: 40px;
  padding-left: 55px;
}
/* line 28, ../../build/sass/includes/_content.sass */
.content .side-column .post-description h4 {
  font-weight: 300;
  line-height: 190%;
}

/* line 3, ../../build/sass/includes/_footer.sass */
footer {
  height: 80px;
  background: #F7F7F7;
  padding-top: 35px;
}
/* line 8, ../../build/sass/includes/_footer.sass */
footer .footer-links {
  margin-left: 30px;
}
