/*
This allows me to create the classes of techniques
without having to write out the text inside, or all the : and ;

@include tech-used (.photoshop,$blue,1px);
@include tech-used (.illustrator,$orange,1px);
@include tech-used (.git,$purple,1px);
*/
@font-face {
  font-family: "karlaitalic";
  src: url('url("public/fonts/karla/karla-regular-webfont").eot');
  src: url('url("public/fonts/karla/karla-regular-webfont").eot?#iefix') format("embedded-opentype"), url('url("public/fonts/karla/karla-regular-webfont").woff') format("woff"), url('url("public/fonts/karla/karla-regular-webfont").ttf') format("truetype"), url('url("public/fonts/karla/karla-regular-webfont").svg#karlaitalic') format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 11, ../../build/sass/main.scss */
a {
  color: #262626;
}
/* line 13, ../../build/sass/main.scss */
a:hover {
  text-decoration: none;
  color: #666666;
}

/* line 18, ../../build/sass/main.scss */
.contact-style {
  font-weight: 300;
  letter-spacing: 2px;
}

/* line 23, ../../build/sass/main.scss */
.button-contact, .button-resume {
  transition: background .2s ease, color 0.2s ease;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  height: 30px;
  width: 100px;
  background: transparent;
  font-size: 14px;
  border: 1px solid #262626;
  color: #262626;
  margin-left: -3px;
  font-weight: 300;
  padding-top: 7px;
  cursor: pointer;
}
/* line 36, ../../build/sass/main.scss */
.button-contact:hover, .button-resume:hover {
  background: #262626;
  color: #F7F7F7;
}

/* line 42, ../../build/sass/main.scss */
.button-contact {
  width: 105px;
}

/* line 52, ../../build/sass/main.scss */
.post-divider {
  padding-bottom: 40px;
  height: 2px;
}

/* line 59, ../../build/sass/main.scss */
.header {
  background: #262626;
  height: 360px;
}
/* line 64, ../../build/sass/main.scss */
.header .name {
  margin-top: 275px;
  margin-left: -15px;
  color: #78FDFF;
}
/* line 68, ../../build/sass/main.scss */
.header .name h1 {
  font-size: 48px;
  font-weight: lighter;
  letter-spacing: 3.5px;
}

/* line 77, ../../build/sass/main.scss */
.sub-header {
  height: 220px;
  background: #F7F7F7;
}
/* line 81, ../../build/sass/main.scss */
.sub-header .title {
  margin-top: 6px;
}

/* line 88, ../../build/sass/main.scss */
.content {
  background: #ECECEC;
  padding-bottom: 80px;
  padding-right: 80px;
}
/* line 90, ../../build/sass/main.scss */
.content .section {
  padding-top: 80px;
}
/* line 95, ../../build/sass/main.scss */
.content .thumbnail-post {
  height: 460px;
  width: 670px;
}
/* line 99, ../../build/sass/main.scss */
.content .thumbnail-post img {
  -moz-border-radius: 6px 0px 0px 6px / 6px 0px 0px 6px;
  -webkit-border-radius: 6px 6px;
  border-radius: 6px 0px 0px 6px / 6px 0px 0px 6px;
}
/* line 101, ../../build/sass/main.scss */
.content .side-column {
  -moz-border-radius: 0px 6px 6px 0px / 0px 6px 6px 0px;
  -webkit-border-radius: 0px 0px;
  border-radius: 0px 6px 6px 0px / 0px 6px 6px 0px;
  margin-left: 15px;
  background: #F7F7F7;
  width: 450px;
  height: 460px;
  padding: 40px;
  padding-left: 55px;
}
/* line 111, ../../build/sass/main.scss */
.content .side-column .post-description h4 {
  font-weight: 300;
  line-height: 190%;
}

/* line 122, ../../build/sass/main.scss */
footer {
  height: 80px;
  background: #F7F7F7;
  padding-top: 35px;
}
/* line 127, ../../build/sass/main.scss */
footer .footer-links {
  margin-left: 30px;
}
