/* line 8, ../../build/sass/includes/_button.sass */
a {
  color: #262626;
}
/* line 10, ../../build/sass/includes/_button.sass */
a:hover {
  text-decoration: none;
  color: #666666;
  cursor: pointer;
}

/* line 16, ../../build/sass/includes/_button.sass */
.button-contact, .button-resume {
  transition: background 0.2s ease, color 0.2s ease;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  height: 30px;
  width: 100px;
  background: transparent;
  font-size: 14px;
  border: 1px solid #78FDFF;
  color: #78FDFF;
  margin-left: -3px;
  font-weight: 300;
  padding-top: 7px;
  cursor: pointer;
}
/* line 29, ../../build/sass/includes/_button.sass */
.button-contact:hover, .button-resume:hover {
  background: #78FDFF;
  color: #262626;
}

/* line 36, ../../build/sass/includes/_button.sass */
.contact-style {
  font-weight: 300;
  letter-spacing: 2px;
}

/* line 41, ../../build/sass/includes/_button.sass */
.button-contact {
  width: 105px;
}

/* line 8, ../../build/sass/includes/_globals.sass */
.post-divider {
  padding-bottom: 40px;
  height: 2px;
}

/* line 8, ../../build/sass/includes/_header.sass */
.avatar {
  width: 220px;
  max-width: 300px;
  height: 230px;
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

/* line 23, ../../build/sass/includes/_header.sass */
.header {
  background: #262626;
  background: url(../images/cover_train.jpg) no-repeat center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
}
/* line 28, ../../build/sass/includes/_header.sass */
.header .name {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  color: #F7F7F7;
}
/* line 33, ../../build/sass/includes/_header.sass */
.header .name h1 {
  font-size: 54px;
  font-size: 3.4rem;
  font-weight: lighter;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

/* line 41, ../../build/sass/includes/_header.sass */
.title {
  margin-top: 60px;
}
/* line 42, ../../build/sass/includes/_header.sass */
.title a {
  color: #78FDFF;
}

/* line 46, ../../build/sass/includes/_header.sass */
.sub-header {
  padding-top: 30px;
  height: 120px;
  background: #F7F7F7;
}
/* line 51, ../../build/sass/includes/_header.sass */
.sub-header .title {
  margin-top: 6px;
}

/* line 54, ../../build/sass/includes/_header.sass */
.landscape {
  display: none;
}

/* line 3, ../../build/sass/includes/_content.sass */
.content {
  background: #ECECEC;
  padding-bottom: 80px;
  padding-right: 80px;
}
/* line 8, ../../build/sass/includes/_content.sass */
.content .section {
  padding-top: 80px;
}
/* line 11, ../../build/sass/includes/_content.sass */
.content .thumbnail-post {
  height: 100%;
  width: "";
}
/* line 15, ../../build/sass/includes/_content.sass */
.content .thumbnail-post img {
  -moz-border-radius: 6px 0px 0px 6px / 6px 0px 0px 6px;
  -webkit-border-radius: 6px 6px;
  border-radius: 6px 0px 0px 6px / 6px 0px 0px 6px;
}
/* line 18, ../../build/sass/includes/_content.sass */
.content .side-column {
  -moz-border-radius: 0px 6px 6px 0px / 0px 6px 6px 0px;
  -webkit-border-radius: 0px 0px;
  border-radius: 0px 6px 6px 0px / 0px 6px 6px 0px;
  margin-left: 15px;
  background: #F7F7F7;
  width: "";
  height: 460px;
  padding: 40px;
  padding-left: 55px;
}
/* line 28, ../../build/sass/includes/_content.sass */
.content .side-column .post-description h4 {
  font-weight: 300;
  line-height: 190%;
}

/* line 3, ../../build/sass/includes/_footer.sass */
footer {
  height: 80px;
  background: #F7F7F7;
  padding-top: 35px;
}
/* line 8, ../../build/sass/includes/_footer.sass */
footer .footer-links {
  margin-left: 30px;
}

/* line 15, ../../build/sass/main.sass */
body, html {
  height: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 569px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 3, ../../build/sass/views/_phone.sass */
  .header {
    background: url(../images/iphone6_port.jpg) no-repeat center center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
  /* line 6, ../../build/sass/views/_phone.sass */
  .header .name {
    margin-left: 5px;
    margin-top: 0px;
  }
  /* line 9, ../../build/sass/views/_phone.sass */
  .header .name h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
  /* line 11, ../../build/sass/views/_phone.sass */
  .header .name h3 {
    font-size: 19px;
    font-size: 1.2rem;
  }
  /* line 13, ../../build/sass/views/_phone.sass */
  .header .avatar {
    width: 100%;
    max-width: 120px;
    height: 220px;
    margin-top: 60px;
    margin-bottom: -50px;
  }
  /* line 20, ../../build/sass/views/_phone.sass */
  .header .title {
    margin-top: 10px;
  }
  /* line 22, ../../build/sass/views/_phone.sass */
  .header .title h4 {
    font-size: 18px;
    font-size: 1.1rem;
  }
  /* line 24, ../../build/sass/views/_phone.sass */
  .header .title h3 {
    font-size: 29px;
    font-size: 1.8rem;
  }
  /* line 27, ../../build/sass/views/_phone.sass */
  .header .title ul li {
    margin-bottom: -2px;
  }
  /* line 29, ../../build/sass/views/_phone.sass */
  .header .button-resume {
    font-size: 32px;
    font-size: 2rem;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    height: 50px;
    width: 200px;
    padding: 14px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 569px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 38, ../../build/sass/views/_phone.sass */
  .header .name {
    margin-left: 5px;
    margin-top: 0px;
  }
  /* line 41, ../../build/sass/views/_phone.sass */
  .header .name h1 {
    font-size: 16px;
    font-size: 1rem;
    font-weight: normal;
  }
  /* line 44, ../../build/sass/views/_phone.sass */
  .header .name h3 {
    font-size: 1em;
  }
  /* line 46, ../../build/sass/views/_phone.sass */
  .header .avatar {
    width: 100%;
    max-width: 80px;
    height: 100px;
    margin-top: 0px;
    margin-bottom: -30px;
    opacity: 0;
  }
  /* line 54, ../../build/sass/views/_phone.sass */
  .header .button-resume {
    font-size: 32px;
    font-size: 2rem;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    height: 50px;
    width: 200px;
    padding: 14px;
  }
  /* line 60, ../../build/sass/views/_phone.sass */
  .header .title {
    margin-top: 10px;
  }
  /* line 62, ../../build/sass/views/_phone.sass */
  .header .title h4 {
    font-size: 18px;
    font-size: 1.1rem;
  }
  /* line 64, ../../build/sass/views/_phone.sass */
  .header .title h3 {
    font-size: 16px;
    font-size: 1rem;
  }
  /* line 67, ../../build/sass/views/_phone.sass */
  .header .title ul li {
    margin-bottom: -2px;
  }
  /* line 71, ../../build/sass/views/_phone.sass */
  .header .resume ul li {
    margin-top: 20px;
  }

  /* line 73, ../../build/sass/views/_phone.sass */
  .landscape {
    display: block;
  }

  /* line 75, ../../build/sass/views/_phone.sass */
  .desktop {
    display: none;
  }
}
@media only screen and (min-width: 360px) and (max-width: 640px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 81, ../../build/sass/views/_phone.sass */
  .header {
    background: url(../images/iphone6_port.jpg) no-repeat center center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
  /* line 84, ../../build/sass/views/_phone.sass */
  .header .name {
    margin-left: 5px;
    margin-top: 0px;
  }
  /* line 87, ../../build/sass/views/_phone.sass */
  .header .name h1 {
    font-size: 18px;
  }
  /* line 89, ../../build/sass/views/_phone.sass */
  .header .name h3 {
    font-size: 14px;
  }
  /* line 91, ../../build/sass/views/_phone.sass */
  .header .avatar {
    width: 100%;
    max-width: 120px;
    height: 220px;
    margin-top: 60px;
    margin-bottom: -50px;
  }
  /* line 97, ../../build/sass/views/_phone.sass */
  .header .title {
    margin-top: 10px;
  }
  /* line 99, ../../build/sass/views/_phone.sass */
  .header .button-resume {
    font-size: 32px;
    font-size: 2rem;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    height: 50px;
    width: 200px;
    padding: 14px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 640px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 108, ../../build/sass/views/_phone.sass */
  .header .name {
    margin-left: 5px;
    margin-top: 0px;
  }
  /* line 111, ../../build/sass/views/_phone.sass */
  .header .name h1 {
    font-size: 22px;
    font-size: 1.4rem;
    font-weight: normal;
  }
  /* line 114, ../../build/sass/views/_phone.sass */
  .header .name h3 {
    font-size: 22px;
    font-size: 1.4rem;
    line-height: 18px;
    line-height: 1.1rem;
  }
  /* line 117, ../../build/sass/views/_phone.sass */
  .header .avatar {
    width: 100%;
    max-width: 80px;
    height: 100px;
    margin-top: 0px;
    margin-bottom: -30px;
    opacity: 0;
  }
  /* line 124, ../../build/sass/views/_phone.sass */
  .header .button-resume {
    font-size: 32px;
    font-size: 2rem;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    height: 50px;
    width: 200px;
    padding: 14px;
  }
  /* line 130, ../../build/sass/views/_phone.sass */
  .header .title {
    margin-top: 10px;
  }
  /* line 132, ../../build/sass/views/_phone.sass */
  .header .title h4 {
    font-size: 22px;
    font-size: 1.4rem;
  }
  /* line 134, ../../build/sass/views/_phone.sass */
  .header .title h3 {
    font-size: 22px;
    font-size: 1.4rem;
    line-height: 18px;
    line-height: 1.1rem;
  }
  /* line 138, ../../build/sass/views/_phone.sass */
  .header .title ul li {
    margin-bottom: -2px;
  }
  /* line 142, ../../build/sass/views/_phone.sass */
  .header .resume ul li {
    margin-top: 20px;
  }

  /* line 144, ../../build/sass/views/_phone.sass */
  .landscape {
    display: block;
  }

  /* line 146, ../../build/sass/views/_phone.sass */
  .desktop {
    display: none;
  }
}
@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 151, ../../build/sass/views/_phone.sass */
  .header {
    background: url(../images/iphone6_port.jpg) no-repeat center center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
  /* line 154, ../../build/sass/views/_phone.sass */
  .header .name {
    margin-left: 5px;
    margin-top: 0px;
  }
  /* line 157, ../../build/sass/views/_phone.sass */
  .header .name h1 {
    font-size: 27px;
    font-size: 1.7rem;
  }
  /* line 159, ../../build/sass/views/_phone.sass */
  .header .name h3 {
    font-size: 22px;
    font-size: 1.4rem;
  }
  /* line 161, ../../build/sass/views/_phone.sass */
  .header .avatar {
    width: 100%;
    max-width: 120px;
    height: 220px;
    margin-top: 60px;
    margin-bottom: -50px;
  }
  /* line 167, ../../build/sass/views/_phone.sass */
  .header .title {
    margin-top: 10px;
  }
  /* line 169, ../../build/sass/views/_phone.sass */
  .header .button-resume {
    font-size: 32px;
    font-size: 2rem;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    height: 50px;
    width: 200px;
    padding: 14px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 178, ../../build/sass/views/_phone.sass */
  .header .name {
    margin-left: 5px;
    margin-top: 0px;
  }
  /* line 181, ../../build/sass/views/_phone.sass */
  .header .name h1 {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: normal;
  }
  /* line 184, ../../build/sass/views/_phone.sass */
  .header .name h3 {
    font-size: 22px;
    font-size: 1.4rem;
    line-height: 22px;
    line-height: 1.4rem;
  }
  /* line 187, ../../build/sass/views/_phone.sass */
  .header .avatar {
    width: 100%;
    max-width: 80px;
    height: 100px;
    margin-top: 0px;
    margin-bottom: -30px;
    opacity: 0;
  }
  /* line 194, ../../build/sass/views/_phone.sass */
  .header .button-resume {
    font-size: 32px;
    font-size: 2rem;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    height: 50px;
    width: 200px;
    padding: 14px;
  }
  /* line 200, ../../build/sass/views/_phone.sass */
  .header .title {
    margin-top: 10px;
  }
  /* line 202, ../../build/sass/views/_phone.sass */
  .header .title h4 {
    font-size: 24px;
    font-size: 1.5rem;
  }
  /* line 204, ../../build/sass/views/_phone.sass */
  .header .title h3 {
    font-size: 22px;
    font-size: 1.4rem;
    line-height: 22px;
    line-height: 1.4rem;
  }
  /* line 208, ../../build/sass/views/_phone.sass */
  .header .title ul li {
    margin-bottom: -2px;
  }
  /* line 212, ../../build/sass/views/_phone.sass */
  .header .resume ul li {
    margin-top: 20px;
  }

  /* line 214, ../../build/sass/views/_phone.sass */
  .landscape {
    display: block;
  }

  /* line 216, ../../build/sass/views/_phone.sass */
  .desktop {
    display: none;
  }
}
@media only screen and (min-width: 600px) and (max-width: 960px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 4, ../../build/sass/views/_tablet.sass */
  .header .name {
    margin-left: 5px;
    margin-top: 0px;
  }
  /* line 7, ../../build/sass/views/_tablet.sass */
  .header .name h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
  /* line 9, ../../build/sass/views/_tablet.sass */
  .header .name h3 {
    font-size: 19px;
    font-size: 1.2rem;
  }
  /* line 11, ../../build/sass/views/_tablet.sass */
  .header .avatar {
    width: 100%;
    max-width: 120px;
    height: 220px;
    margin-top: 60px;
    margin-bottom: -50px;
  }
  /* line 17, ../../build/sass/views/_tablet.sass */
  .header .title {
    margin-top: 10px;
  }
  /* line 19, ../../build/sass/views/_tablet.sass */
  .header .title h4 {
    font-size: 18px;
    font-size: 1.1rem;
  }
  /* line 21, ../../build/sass/views/_tablet.sass */
  .header .title h3 {
    font-size: 29px;
    font-size: 1.8rem;
  }
  /* line 24, ../../build/sass/views/_tablet.sass */
  .header .title ul li {
    margin-bottom: -2px;
  }
  /* line 26, ../../build/sass/views/_tablet.sass */
  .header .button-resume {
    font-size: 32px;
    font-size: 2rem;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    height: 50px;
    width: 200px;
    padding: 14px;
  }
}
@media only screen and (min-width: 669px) and (max-width: 960px) {
  /* line 36, ../../build/sass/views/_tablet.sass */
  .header .name {
    margin-left: 5px;
    margin-top: 0px;
  }
  /* line 39, ../../build/sass/views/_tablet.sass */
  .header .name h1 {
    font-size: 27px;
    font-size: 1.7rem;
  }
  /* line 41, ../../build/sass/views/_tablet.sass */
  .header .name h3 {
    font-size: 19px;
    font-size: 1.2rem;
  }
  /* line 44, ../../build/sass/views/_tablet.sass */
  .header .avatar {
    width: 100%;
    max-width: 180px;
    height: 220px;
    margin-top: 160px;
    margin-bottom: -20px;
  }
  /* line 50, ../../build/sass/views/_tablet.sass */
  .header .title {
    margin-top: 10px;
  }
}
